.custom-skeleton {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0rem;
  top: 0rem;
  background-color: #191919;
  color: #fff;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
}

.typing-animation-text {
  text-transform: uppercase;
  white-space: nowrap;
  text-align: left;
  width: 0;
  margin: 0 auto;
  overflow: hidden;
  border-right: 0.1em solid #d87d4a;
  animation: typing 1.5s 1s steps(41, end) forwards,
      caret 0.75s step-end infinite;
  position: relative;
}

@media (max-width: 30rem) {
  .typing-animation-text {
    max-width: 16.625rem;
    max-height: 3.75rem;
    white-space: normal;
  }
}
@keyframes typing {
  0% {
     width: 0;
     opacity: 0;
  }
  50% {
     opacity: 1;
  }
  100% {
     width: 29.75rem;
  }
}

@media (min-width: 30rem) {
  .typing-animation-text::after {
    content: "";
    width: 100%;
    height: 2.5rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.596);
    position: absolute;
    right: -0.25rem;
    top: 1.5rem;
    animation: typing-shadow 1.5s 1s steps(41, end) forwards;
  }
  @keyframes typing-shadow {
    0% {
      transform: scaleX(0);
    }
    50% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(2);
      width: 0;
    }
  }
}